{% extends 'base.html' %}
{% block title %}What to eat? | {{ dish_name }}{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container holder">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="container recipe">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ dish_name }}</h4>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-12 text-center">
                            <img class="img-fluid recipe-image" src="{{ image }}">
                        </div>
                    </div>
                    <div class="row">
                        {% if current_user.is_authenticated %}
                            <div class="col-6 recipe-name text-start">
                                <form action="{{ url_for('add_favorite', recipe_id=recipe_id, recipe_name=dish_name) }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" name="add" value="Add" class="btn btn-primary btn-sm">Add to Favorites</button>
                                </form>
                            </div>
                            <div class="col-6 text-end">
                                <h4>{{ category }}</h4>
                            </div>
                        {% else %}
                            <div class="col-6 text-start">
                                <h4>{{ category }}</h4>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ol class="list-group">
                                {% for ingredient in ingredients: %}
                                    <li class="list-group-item list-group-item-light">{{ ingredient }}</li>
                                {% endfor %}
                            </ol>
                            <p class="instructions">{{ instructions | safe }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-12 text-center">
                            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/{{video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <h5>Likes</h5>
                            {% if likes %}
                                <p>{{ likes }}</p>
                            {% else %}
                                <p>0</p>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <form action="{{ url_for('add_rating_like', recipe_id=recipe_id) }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <button type="submit" name="add" value="Add" class="btn btn-primary btn-sm">Like</button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-6 text-center">
                            <h5>Dislikes</h5>
                            {% if dislikes %}
                                <p>{{ dislikes }}</p>
                            {% else %}
                                <p>0</p>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <form action="{{ url_for('add_rating_dislike', recipe_id=recipe_id) }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <button type="submit" name="add" value="Add" class="btn btn-primary btn-sm">Dislike</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}