{% extends 'base.html' %}
{% block title %}What to eat?{% endblock %}
{% block content %}
<div class="container navigation">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if not current_user.is_authenticated %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                            </li>
                            {% else %}
                             <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('favorites') }}">Favorites</a>
                             </li>
                             {% endif %}
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dish Type
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('appetizer') }}">Appetizer</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main') }}">Main</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('dessert') }}">Dessert</a></li>
                              </ul>
                            </li>
                            {% if current_user.is_authenticated %}
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                              </li>
                             {% endif %}
                          </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container holder">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="container recipe">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ dish_name }}</h4>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-12 text-center">
                            <img class="img-fluid recipe-image" src="{{ image }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 recipe-name text-start">
                            <h4>some name</h4>
                        </div>
                        <div class="col-6 text-end">
                            <h4>{{ category }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ol class="list-group">
                                {% for ingredient in ingredients: %}
                                <li class="list-group-item list-group-item-light">{{ ingredient }}</li>
                                {% endfor %}
                            </ol>
                            <p class="instructions">{{ instructions | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}